@keyframes shadow-blink {
    0% {
        box-shadow: 0 0 0 0 rgba(252, 215, 182, 1);
    }

    70% {
        box-shadow: 0 0 0 20px rgba(252, 215, 182, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(252, 215, 182, 0);
    }
}

@keyframes fill-blink {
    0% {
        fill: $accent;
    }

    100% {
        fill: #ffffff;
    }
}