$default: #262626;
$menu-color: #436372;
$accent: #fcd7b6;
$btn-color:#a3bbc8;
$btn-lightcolor: #edf1f4;
$footer-text: #7b7b7b;
$bg: #fef7f0;
$slider-title: #243f4d;
$section-title: #191919;
$filter-color: #8b8b8b;

%rubik-400 {
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}

%rubik-600 {
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 600;
}

%dmsans-400 {
    font-family: 'DMSans-Regular', sans-serif;
    font-weight: 400;
}

%dmsans-500 {
    font-family: 'DMSans-Medium', sans-serif;
    font-weight: 500;
}

%dmsans-700 {
    font-family: 'DMSans-Bold', sans-serif;
    font-weight: 700;
}

%user-btn {
    width: 52px;
    height: 52px;
    border-radius: 50%;
}

%center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

%footer-link {
    color: $footer-text;
    @extend %rubik-400;
    font-size: 14px;
}