@import 'vars';
@import 'fonts';
@import 'libs';
@import 'reset';
@import 'global';


.header {
    padding: 45px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @extend %rubik-600;

    }
}

.menu {
    font-size: 15px;
    padding-left: 150px;

    &__list {
        display: flex;
        align-items: center;
    }

    &__item+.menu__item {
        margin-left: 35px;
    }

    &__link {
        color: $menu-color;
        border-bottom: 1px solid transparent;
        transition: all 0.3s;

        &:hover,
        &:focus {
            color: $btn-color;
            border-bottom: 1px solid $btn-color;
            outline: transparent;
        }
    }
}

.user-nav {
    display: flex;

    &__link {
        @extend %dmsans-500;
        font-size: 10px;
        color: $menu-color;
        position: relative;
        transition: background-color 0.3s;

        &::before {
            content: '';
            width: 18px;
            height: 18px;
            position: absolute;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &:hover,
        &:focus {
            box-shadow: inset 0 0 5px rgba(185, 179, 179, 0.5);
            background-color: $btn-lightcolor;
            outline: transparent;
        }
    }


    &__link--search {
        @extend %user-btn;
        background-color: $btn-lightcolor;
        margin-right: 20px;

        &:hover,
        &:focus {
            background-color: $btn-color;
        }
    }

    &__link--heart {
        width: 90px;
        border-radius: 45px 0 0 45px;
        background-color: $accent;
    }

    &__link--cart {
        width: 90px;
        border-radius: 0 45px 45px 0;
        background-color: $accent;
        margin-right: 20px;
    }

    &__link--dots {
        @extend %user-btn;
        background-color: $btn-color;
    }

    &__link--search::before {
        background-image: url(../images/header-icons/search.png);
        @extend %center;
    }

    &__link--heart::before {
        background-image: url(../images/header-icons/heart.png);
        bottom: 13px;
        left: 40px;
    }

    &__link--cart::before {
        background-image: url(../images/header-icons/cart.png);
        right: 40px;
        bottom: 13px;
    }

    &__link--cart::after {
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        height: 32px;
        background-color: #fff;
        top: 10px;
    }

    &__link--dots::before {
        background-image: url(../images/header-icons/dots.png);
        @extend %center;
    }

    &__data {
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #fff;
        text-align: center;
        line-height: 16px;
    }

    &__data--heart {
        top: 13px;
        left: 52px;
    }

    &__data--cart {
        top: 13px;
        right: 34px;
    }
}

.main-slider {
    &__item {
        padding: 216px 0 280px;
        background-repeat: no-repeat;
        background-position: 82% center;
    }

    &__title {
        text-transform: uppercase;
        font-size: 72px;
        @extend %rubik-600;
        max-width: 470px;
        margin-bottom: 28px;
        line-height: 1;
        color: $slider-title;
    }

    &__text {
        font-size: 18px;
        @extend %rubik-400;
        color: $menu-color;
        max-width: 370px;
        margin-bottom: 34px;
    }

    &__btn {
        color: #ffffff;
        max-width: 200px;
        padding: 22px 28px 20px;
        background-color: $btn-color;
        font-size: 15px;
        @extend %rubik-600;
        background-image: url(../images/arrow.png);
        background-repeat: no-repeat;
        background-position: 90% center;
        transition: background-color 0.3s;

        &:hover,
        &:focus {
            background-color: $slider-title;
            outline: transparent;
        }
    }

}

.slick-dots li+li {
    margin-left: 12px;
}

.slick-dots {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
}

.slick-dots button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 10px;
    @extend %rubik-600;
    border: none;
    padding: 0;
    background-color: #ffffff;
    opacity: 0.3;
    outline: transparent;
}

.slick-dots .slick-active button {
    opacity: 1;
}

.info {
    margin-bottom: 68px;

    span {
        display: block;
    }

    &__inner {
        padding: 46px 100px;
        background-color: $bg;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        max-width: 370px;
        width: 100%;
        padding-left: 124px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            left: 46px;
        }
    }

    &__item--support::before {
        width: 51px;
        height: 54px;
        background-image: url(../images/info/hours.svg);
    }

    &__item--delivery::before {
        width: 54px;
        height: 37px;
        background-image: url(../images/info/delivery.svg);
    }

    &__item--payment::before {
        width: 54px;
        height: 52px;
        background-image: url(../images/info/payment.svg);
    }

    &__heading {
        font-size: 18px;
        font-weight: 700;
        color: #414141;
        margin-bottom: 8px;
    }

    &__text {
        font-size: 16px;
        font-weight: 400;
        color: #585858;
    }
}


.week-product {
    margin-bottom: 185px;

    &__menu {
        text-align: center;
        margin-bottom: 76px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px 30px;
    }

    &__item {
        padding: 182px 0 34px;
        max-width: 270px;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        text-align: center;
        background-repeat: no-repeat;
        background-position: center 16%;
        transition: all 0.5s;

        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }

        &:hover .week-product__link-box {
            transform: scale(1);
        }
    }

    &__link-box {
        display: flex;
        justify-content: space-between;
        max-width: 170px;
        margin: 0 auto 65px;
        transform: scale(0);
        transition: transform 0.3s;
    }

    &__link {
        border-radius: 50%;
        background-color: #ffffff;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        width: 45px;
        height: 45px;
        position: relative;
        transition: all 0.5s;
        ;

        svg {
            position: absolute;
            @extend %center;

            path {
                transition: fill 0.5s;
            }
        }

        &:hover {
            background-color: $btn-color;
        }

        &:hover svg path {
            fill: #ffffff;
        }
    }

    &__heading,
    &__price {
        display: block;
        font-size: 16px;
    }

    &__heading {
        color: $slider-title;
        margin-bottom: 10px;
    }

    &__price {
        color: $btn-color;
        @extend %dmsans-700;
    }

}

.filter {
    &__btn {
        padding: 0;
        border: none;
        background-color: transparent;
        outline: transparent;
        font-size: 16px;
        color: $filter-color;
        @extend %dmsans-700;
        transition: color 0.3s;
    }

    &__btn+.filter__btn {
        margin-left: 24px;
    }

    &__btn:hover,
    .mixitup-control-active {
        cursor: pointer;
        color: $section-title;
    }
}


.lightning {
    margin-bottom: 96px;

    &__inner {
        // display: flex;
        // justify-content: space-between;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }

    &__item {
        max-width: 870px;
        padding: 100px 130px 100px 400px;
        max-height: 390px;
        background-color: $bg;
        color: $slider-title;
        position: relative;

    }

    &__bg {
        position: absolute;
        top: -100px;
        left: 140px;
    }

    &__heading {
        @extend %dmsans-700;
        font-size: 26px;
        display: block;
    }

    &__descr {
        margin: 22px 0 30px;
        @extend %rubik-400;
    }

    &__btn {
        color: $menu-color;
        max-width: 180px;
        padding: 18px 28px;
        background-color: transparent;
        font-size: 15px;
        @extend %rubik-600;
        background-image: url(../images/lightning/arrow.png);
        background-repeat: no-repeat;
        background-position: 86% center;
        transition: background-color 0.3s;
        border: 1px solid $menu-color;
        border-radius: 5px;

        &:hover,
        &:focus {
            background-color: $accent;
            outline: transparent;
        }
    }

}

.footer-top {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid $footer-text;
    padding-bottom: 54px;
    margin-top: 10px;

    &__item-title {
        margin-bottom: 18px;
    }

    &__item-title {
        display: block;
        @extend %dmsans-700;
        font-size: 16px;
        text-transform: uppercase;
        color: #1f2044;
    }

    &__logo {
        margin: -10px 0 28px;
    }

    &__tel,
    &__email,
    &__link {
        @extend %footer-link;
        margin-bottom: 12px;

        &:hover,
        &:focus {
            color: $btn-color;
            outline: transparent;
        }
    }

    &__contact,
    &__service,
    &__account {
        max-width: 200px;
        width: 100%;
        margin-right: 100px;
    }

    &__address {
        font-style: normal;

        span {
            text-transform: uppercase;
        }
    }

    &__address-text,
    &__text {
        @extend %footer-link;
        margin-bottom: 18px;
    }

    &__text {
        margin-bottom: 36px;
    }

    &__form {
        display: flex;
    }

    &__input {
        background-color: $bg;
        border: none;
        font-size: 14px;
        padding: 8px 16px;
        max-width: 170px;
        cursor: pointer;
        outline: transparent;
        transition: box-shadow 0.3s;
    }

    &__input:hover,
    &__input:focus {
        box-shadow: inset 0 0 5px rgba(185, 179, 179, 0.5);

    }

    &__btn:hover,
    &__btn:focus {
        color: $accent;
    }

    &__input::placeholder {
        font-size: 12px;
        color: #234969;
    }

    &__btn {
        display: block;
        max-width: 100px;
        width: 100%;
        border: none;
        font-size: 14px;
        color: #ffffff;
        background-color: $btn-color;
        padding: 6px 0;
        cursor: pointer;
        outline: transparent;
        transition: all 0.3s;
    }
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
    @extend %footer-link;
}

.fb-menu {
    &__list {
        display: flex;
    }

    &__item {
        @extend %footer-link;
        position: relative;
    }

    &__item+.fb-menu__item {
        padding-left: 30px;
    }

    &__link {
        @extend %footer-link;
        border-bottom: 1px solid transparent;
        transition: all 0.3s;

        &:hover,
        &:focus {
            color: $btn-color;
            border-bottom: 1px solid $btn-color;
            outline: transparent;

        }
    }

    &__item--border::before {
        content: "";
        display: block;
        width: 1px;
        height: 16px;
        background-color: $footer-text;
        position: absolute;
        top: 2px;
        left: 15px;
    }
}





@import 'media';