.terms {
    @extend %rubik-400;
    font-size: 16px;
    color: $slider-title;
    margin-bottom: 90px;

    &__title {
        @extend %rubik-600;
        font-size: 24px;
        margin-bottom: 16px;
    }

    &__list-wrapper {
        padding-left: 32px;
        margin-bottom: 58px;
    }

    &__list {
        list-style-type: decimal-leading-zero;
            }

    &__item {
        padding-left: 9px;

        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }

    &__text {
        line-height: 1.7;
    }
    &__collect {
        margin-bottom: 60px;
    }
}