.design {
    margin-bottom: 120px;

    &__menu {
        text-align: center;
        margin-bottom: 70px;
    }

    &__list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px 30px;
    }

    &__item {
        display: block;
        max-width: 370px;
        padding: 40px 160px 130px 36px;
        @extend %dmsans-700;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        transition: transform 0.3s;

        &:focus,
        &:hover {
            transform: scale(1.05);
        }
    }

    &__item-heading {
        font-size: 20px;
        line-height: 1.2;
        color: $section-title;
        margin-bottom: 10px;
    }

    &__item-type {
        font-size: 16px;
        color: $filter-color;
    }
}