.info {
    margin-bottom: 68px;

    span {
        display: block;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $bg;
    }

    &__item {
        max-width: 290px;
        width: 100%;
        padding: 46px 0 46px 80px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            top: 46;
            left: 0;
        }

        &:not(:last-child) {
            &::after {
                content: '';
                display: block;
                width: 1px;
                height: 100%;
                background-color: #e8e4df;
                position: absolute;
                top: 0;
                right: -144px;
            }
        }

        &--support {
            &::before {
                width: 51px;
                height: 54px;
                background-image: url(../images/info/hours.svg);
            }
        }

        &--delivery {
            &::before {
                width: 54px;
                height: 37px;
                background-image: url(../images/info/delivery.svg);
            }
        }

        &--payment {
            &::before {
                width: 54px;
                height: 52px;
                background-image: url(../images/info/payment.svg);
            }
        }
    }

    &__heading {
        @extend %dmsans-700;
        @extend %overflow;
        font-size: 18px;
        color: #414141;
        margin-bottom: 8px;
    }

    &__text {
        @extend %dmsans-400;
        font-size: 16px;
        color: #585858;
        @extend %clamp;
        -webkit-line-clamp: 3;
    }
}