.insights {
    min-height: 435px;
    margin-bottom: 60px;

    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }

    &__title {
        margin: 0;
    }

    &__heading-link {
        @extend %dmsans-700;
        font-size: 16;
        color: $default;
        transition: color 0.3s;

        path {
            transition: fill 0.3s;
        }

        &:hover {
            color: $accent;

            path {
                fill: $accent
            }
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
    }
}

.insights-card {
    max-width: 370px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 5px;
    transition: transform 0.5s;

    &:hover {
        cursor: pointer;
        transform: translate(-1.5%, -1.5%);
    }

    &__wrapper {display: flex;
        flex-direction: column;
        flex: 1;
        padding: 0 30px 25px 30px;
    }

    &__news {
        width: 103px;
        height: 30px;
        @extend %dmsans-700;
        text-transform: uppercase;
        background-color: $btn-color;
        color: #ffffff;
        font-size: 14px;
        text-align: center;
        line-height: 30px;
        border-radius: 15px;
        position: relative;
        margin-top: -15px;
        margin-bottom: 20px;
    }

    &__text-link {
        display: block;
        color: $default;
        // padding-bottom: 14px;
        // border-bottom: 1px solid #e0e0e0;
        margin-bottom: 14px;
    }

    &__text {
        // min-height: 64px;
        line-height: 1.2;

    }

        &__info {
        @extend %rubik-400;
        text-transform: uppercase;
        font-size: 12px;
        padding-top: 14px;
        border-top: 1px solid #e0e0e0;
        margin-top: auto;
        display: flex;

        span {
            display: block;
            padding-left: 18px;
            margin-right: 25px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 14px;
                height: 14px;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }

    &__date {
        &::before {
            background-image: url(../../images/insights/calendar.svg);
            top: 2px;
            left: 0;
        }
    }

    &__admin {
        &::before {
            background-image: url(../../images/insights/user.svg);
            top: 2px;
            left: 0;
        }
    }

}

.partners {
    min-height: 436px;
    padding: 260px 0 90px;
    background-color: $bg;
    margin-top: -177px;

    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}