.video {
    margin-bottom: 114px;

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 235px 0;
        font-size: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: relative;

        &:before {
            content: "";
            display: block;
            width: 127px;
            height: 127px;
            border-radius: 50%;
            background-image: url('../images/sprite.svg#play-decor');
            position: absolute;
        }

        &:hover {
            &::before {
                animation: shadow-blink 1.0s linear infinite;
            }
        }

        &:hover {
            .video__play {
                animation: fill-blink 1.0s linear infinite;
            }
        }
    }

    &__play {
        width: 22px;
        height: 25px;
        fill: #ffffff;
        position: relative;
    }
}