.top {
    padding: 24px 0 34px;
    background-color: #edf1f4;
    margin-bottom: 120px;

    &__heading {
        @extend %rubik-400;
        font-size: 36px;
        text-align: center;
        color: #222933;
        display: block;
    }
}

.breadcrumbs {
    display: flex;
    justify-content: center;

    &__list {
        display: flex;
    }

    &__item {
        @extend %rubik-400;
        font-size: 14px;
        color: #92969b;
        position: relative;
        transition: color 0.5s;

        &:not(:last-child) {
            padding-right: 20px;

            &:hover {
                color: $slider-title;
            }

            &::after {
                content: '/';
                position: absolute;
                right: 5px;
            }
        }
    }

    &__link {
        color: inherit;
    }
}