<footer class="footer">
    <div class="container">
        <div class="footer__items">

            <div class="footer__item">
                <a class="logo footer__logo" href="#"><img src="images/header-icons/logo.png"
                        alt="header logo-icon"></a>
                <address class="footer__address">
                    <p class="footer__text"><span>address: </span>4772 Wines Lane
                        Houston, TX 77032</p>
                    <a class="footer__link" href="tel:+8323475843"><span>telephone: </span>+832-347-5843</a>
                    <a class="footer__link" href="mailto:contact@glee.com"><span>email:
                        </span>contact@glee.com</a>
                </address>
            </div>

            <div class="footer__item">
                <span class="footer__item-title">services</span>
                <ul class="footer__list">
                    <li class="footer__element">
                        <a class="footer__link" href="#">About Us</a>
                    </li>
                    <li class="footer__element">
                        <a class="footer__link" href="#">Return Policy</a>
                    </li>
                    <li class="footer__element">
                        <a class="footer__link" href="#">Our Blog</a>
                    </li>
                    <li class="footer __element">
                        <a class="footer__link" href="#">Contact Us</a>
                    </li>
                    <li class="footer__element">
                        <a class="footer__link" href="#">Terms & Condition</a>
                    </li>
                </ul>
            </div>

            <div class="footer__item">
                <span class="footer__item-title">account</span>
                <ul class="footer__list">
                    <li class="footer__element">
                        <a class="footer__link" href="#">Your Account</a>
                    </li>
                    <li class="footer__element">
                        <a class="footer__link" href="#">Checkout</a>
                    </li>
                    <li class="footer__element">
                        <a class="footer__link" href="#">Login</a>
                    </li>
                    <li class="footer__element">
                        <a class="footer__link" href="#">Register</a>
                    </li>
                </ul>
            </div>

            <div class="footer__item footer__item--news">
                <span class="footer__item-title">newsletter</span>
                <p class="footer__text">Subscribe by our newsletter and get
                    update protidin.</p>
                <form class="footer__form" action="#">
                    <label class="footer__label">
                        please enter your e-mail
                        <input class="footer__input" name="user-email" type="email" placeholder="Email address"
                            required>
                    </label>
                    <button class="footer__btn" type="submit">Subscribe</button>
                </form>
            </div>
        </div>

        <div class="footer__bottom">
            <p class="footer__copyright">©2020 CopyRight Example. All rights reserved.</p>

            <ul class="footer__nav">
                <li class="footer__nav-item ">
                    <a class="footer__nav-link" href="/index.html">Home</a>
                </li>
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="/about.html">About</a>
                </li>
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="#">Blog</a>
                </li>
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="#">Contact</a>
                </li>
            </ul>

        </div>
    </div>
</footer>