<header class="header">
    <div class="container container--out">

        <nav class="menu">
            <a class="logo" href="#"><img src="images/header-icons/logo.png" alt="header logo-icon"></a>

            <ul class="menu__list">
                <li class="menu__item">
                    <a class="menu__link" href="#">Home +</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">About</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Services</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Pages +</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">News</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Contact</a>
                </li>
            </ul>

            <div class="menu__btns">
                <button class="menu__btn menu__btn--search" type="button">Search</button>
                <button class="menu__btn menu__btn--heart" type="button">Favourite Goods
                    <span class="menu__data menu__data--heart">0</span>
                </button>
                <button class="menu__btn menu__btn--cart" type="button">My Cart
                    <span class="menu__data menu__data--cart">0</span>
                </button>
                <button class="menu__btn menu__btn--dots" type="button">Additional Menu</button>
            </div>
        </nav>
    </div>
</header>