<article class="news-card">
    <a class="news-card__link" href="#">
        <img class="news-card__image" src=@path alt="insight image">
    </a>
    <div class="news-card__wrapper">
        <span class="news-card__label">news</span>
        <a class="news-card__text-link" href="#">
            <h3 class="news-card__text">@title</h3>
        </a>
        <div class="news-card__info">
            <time class="news-card__date">@date</time>
            <span class="news-card__autor">@author</span>
        </div>
    </div>
</article>