<div class="container">
    <div class="main-slider__wrapper">
        <div class="main-slider__content">
            <div class="main-slider__title">
                <span>
                    smart and trendy
                </span>
            </div>
            <div class="main-slider__text">
                <p>
                    Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                </p>
            </div>
            <a href="#" class="main-slider__btn">Shop Now</a>
        </div>
        <div class="main-slider__img">
            <img src=@path alt="slider image">
        </div>
    </div>
</div>